<a href="https://colab.research.google.com/github/CrrazyPeach/GitColab/blob/main/ML/feature_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = pd.read_csv(r"/content/drive/MyDrive/ASSISTments2017.csv",low_memory=False) 
#dtype={'Ln': 'float', 'Ln-1': 'str'}
#auto-generate index
#warning: Ln and Ln-1 have dtype('0')
data.head()

,studentId,MiddleSchoolId,InferredGender,SY ASSISTments Usage,AveKnow,AveCarelessness,AveCorrect,NumActions,AveResBored,AveResEngcon,...,RES_CONFUSED,RES_FRUSTRATED,RES_OFFTASK,RES_GAMING,Ln-1,Ln,MCAS,Enrolled,Selective,isSTEM
0,8,2,Male,2004-2005,0.352416,0.183276,0.483902,1056,0.208389,0.679126,...,0.000000,0.0,0.785585,0.000264,0.13,0.061190409,45,0,0,NaN
1,8,2,Male,2004-2005,0.352416,0.183276,0.483902,1056,0.208389,0.679126,...,0.887452,0.0,0.468252,0.001483,0.061190409,0.213509945,45,0,0,NaN
2,8,2,Male,2004-2005,0.352416,0.183276,0.483902,1056,0.208389,0.679126,...,0.887452,0.0,0.468252,0.001483,0.116,0.033305768,45,0,0,NaN
3,8,2,Male,2004-2005,0.352416,0.183276,0.483902,1056,0.208389,0.679126,...,0.000000,0.0,0.108417,0.010665,0.116,0.033305768,45,0,0,NaN
4,8,2,Male,2004-2005,0.352416,0.183276,0.483902,1056,0.208389,0.679126,...,0.000000,0.0,0.108417,0.010665,0.033305768,0.118385889,45,0,0,NaN

In [ ]:
data.info()
# 2   InferredGender  769160 non-null 
# 58   sumTime3SDWhen3RowRight  942731 non-null
# 81  isSTEM  316974 non-null
# features having incomplete values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 942816 entries, 0 to 942815
Data columns (total 82 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   studentId                               942816 non-null  int64
 1   MiddleSchoolId                          942816 non-null  int64
 2   InferredGender                          769160 non-null  object
 3   SY ASSISTments Usage                    942816 non-null  object
 4   AveKnow                                 942816 non-null  float64
 5   AveCarelessness                         942816 non-null  float64
 6   AveCorrect                              942816 non-null  float64
 7   NumActions                              942816 non-null  int64
 8   AveResBored                             942816 non-null  float64
 9   AveResEngcon                            942816 non-null  float64
 10  AveResConf                              942816 non-null  float64
 11  AveResFrust                             942816 non-null  float64
 12  AveResOfftask                           942816 non-null  float64
 13  AveResGaming                            942816 non-null  float64
 14  action_num                              942816 non-null  int64
 15  skill                                   942816 non-null  object
 16  problemId                               942816 non-null  int64
 17  problemType                             942816 non-null  object
 18  assignmentId                            942816 non-null  int64
 19  assistmentId                            942816 non-null  int64
 20  startTime                               942816 non-null  int64
 21  endTime                                 942816 non-null  int64
 22  timeTaken                               942816 non-null  float64
 23  correct                                 942816 non-null  int64
 24  original                                942816 non-null  int64
 25  hint                                    942816 non-null  int64
 26  hintCount                               942816 non-null  int64
 27  hintTotal                               942816 non-null  int64
 28  scaffold                                942816 non-null  int64
 29  bottomHint                              942816 non-null  int64
 30  attemptCount                            942816 non-null  int64
 31  frIsHelpRequest                         942816 non-null  int64
 32  frPast5HelpRequest                      942816 non-null  int64
 33  frPast8HelpRequest                      942816 non-null  int64
 34  stlHintUsed                             942816 non-null  int64
 35  past8BottomOut                          942816 non-null  int64
 36  totalFrPercentPastWrong                 942816 non-null  float64
 37  totalFrPastWrongCount                   942816 non-null  int64
 38  frPast5WrongCount                       942816 non-null  int64
 39  frPast8WrongCount                       942816 non-null  int64
 40  totalFrTimeOnSkill                      942816 non-null  float64
 41  timeSinceSkill                          942816 non-null  float64
 42  frWorkingInSchool                       942816 non-null  int64
 43  totalFrAttempted                        942816 non-null  int64
 44  totalFrSkillOpportunities               942816 non-null  int64
 45  responseIsFillIn                        942816 non-null  int64
 46  responseIsChosen                        942816 non-null  int64
 47  endsWithScaffolding                     942816 non-null  int64
 48  endsWithAutoScaffolding                 942816 non-null  int64
 49  frTimeTakenOnScaffolding                942816 non-null  float64
 50  frTotalSkillOpportunitiesScaffolding    942816 non-null  int64
 51  totalFrSkillOpportunitiesByScaffolding  942816 non-null  float64
 52  frIsHelpRequestScaffolding              942816 non-null  int64
 53  timeGreater5Secprev2wrong               942816 non-null  int64
 54  sumRight                                942816 non-null  int64
 55  helpAccessUnder2Sec                     942816 non-null  int64
 56  timeGreater10SecAndNextActionRight      942816 non-null  int64
 57  consecutiveErrorsInRow                  942816 non-null  int64
 58  sumTime3SDWhen3RowRight                 942731 non-null  float64
 59  sumTimePerSkill                         942816 non-null  float64
 60  totalTimeByPercentCorrectForskill       942816 non-null  float64
 61  Prev5count                              942816 non-null  int64
 62  timeOver80                              942816 non-null  int64
 63  manywrong                               942816 non-null  int64
 64  confidence(BORED)                       942816 non-null  float64
 65  confidence(CONCENTRATING)               942816 non-null  float64
 66  confidence(CONFUSED)                    942816 non-null  float64
 67  confidence(FRUSTRATED)                  942816 non-null  float64
 68  confidence(OFF TASK)                    942816 non-null  float64
 69  confidence(GAMING)                      942816 non-null  float64
 70  RES_BORED                               942816 non-null  float64
 71  RES_CONCENTRATING                       942816 non-null  float64
 72  RES_CONFUSED                            942816 non-null  float64
 73  RES_FRUSTRATED                          942816 non-null  float64
 74  RES_OFFTASK                             942816 non-null  float64
 75  RES_GAMING                              942816 non-null  float64
 76  Ln-1                                    942816 non-null  object
 77  Ln                                      942816 non-null  object
 78  MCAS                                    942816 non-null  int64
 79  Enrolled                                942816 non-null  int64
 80  Selective                               942816 non-null  int64
 81  isSTEM                                  316974 non-null  float64
dtypes: float64(31), int64(45), object(6)
memory usage: 589.8+ MB

In [ ]:
data.dropna(axis=0,inplace=True) #delete all rows have empty values

In [ ]:
Xdata = data
Xdata.drop(["correct"],axis=1,inplace=True)

In [ ]:
Xdata.head()
#Xdata.info()

In [ ]:
X = Xdata.iloc[:,0:81]
y = data.iloc[:,23] 
# X.shape
# X.head()
# y

In [ ]:
X = X.reset_index(drop=True)
X

,studentId,MiddleSchoolId,InferredGender,SY ASSISTments Usage,AveKnow,AveCarelessness,AveCorrect,NumActions,AveResBored,AveResEngcon,...,RES_CONFUSED,RES_FRUSTRATED,RES_OFFTASK,RES_GAMING,Ln-1,Ln,MCAS,Enrolled,Selective,isSTEM
0,35,2,Female,2004-2005,0.255164,0.158848,0.379658,993,0.222796,0.650079,...,0.060808,0.000000,0.889219,0.005797,0.271,0.077899242,34,1,0,0.0
1,35,2,Female,2004-2005,0.255164,0.158848,0.379658,993,0.222796,0.650079,...,0.000000,0.009561,0.108417,0.001483,0.077899242,0.225855735,34,1,0,0.0
2,35,2,Female,2004-2005,0.255164,0.158848,0.379658,993,0.222796,0.650079,...,0.000000,0.009561,0.108417,0.003940,0.225855735,0.483008479,34,1,0,0.0
3,35,2,Female,2004-2005,0.255164,0.158848,0.379658,993,0.222796,0.650079,...,0.000000,0.009561,0.108417,0.003940,0.483008479,0.745289898,34,1,0,0.0
4,35,2,Female,2004-2005,0.255164,0.158848,0.379658,993,0.222796,0.650079,...,0.000000,0.009561,0.468252,0.001483,0.745289898,0.900993673,34,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263745,7775,1,Female,2005-2006,0.100027,0.079966,0.275472,795,0.257509,0.629568,...,0.000000,0.768901,0.122595,0.010665,0.027879152,0.027840257,13,0,0,1.0
263746,7775,1,Female,2005-2006,0.100027,0.079966,0.275472,795,0.257509,0.629568,...,0.000000,0.000000,0.122595,0.002815,0.033870354,0.033831912,13,0,0,1.0
263747,7775,1,Female,2005-2006,0.100027,0.079966,0.275472,795,0.257509,0.629568,...,0.000000,0.000000,0.048295,0.903251,0.033870354,0.033831912,13,0,0,1.0
263748,7775,1,Female,2005-2006,0.100027,0.079966,0.275472,795,0.257509,0.629568,...,0.000000,0.000000,0.048295,0.903251,0.033870354,0.033831912,13,0,0,1.0
263749,7775,1,Female,2005-2006,0.100027,0.079966,0.275472,795,0.257509,0.629568,...,0.000000,0.000000,0.048295,0.903251,0.033870354,0.033831912,13,0,0,1.0

In [ ]:
X.info()
#2   InferredGender
#3   SY ASSISTments Usage4
#15  skill
#17  problemType
#need to process to one-hot encoding

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263750 entries, 0 to 263749
Data columns (total 81 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   studentId                               263750 non-null  int64
 1   MiddleSchoolId                          263750 non-null  int64
 2   InferredGender                          263750 non-null  object
 3   SY ASSISTments Usage                    263750 non-null  object
 4   AveKnow                                 263750 non-null  float64
 5   AveCarelessness                         263750 non-null  float64
 6   AveCorrect                              263750 non-null  float64
 7   NumActions                              263750 non-null  int64
 8   AveResBored                             263750 non-null  float64
 9   AveResEngcon                            263750 non-null  float64
 10  AveResConf                              263750 non-null  float64
 11  AveResFrust                             263750 non-null  float64
 12  AveResOfftask                           263750 non-null  float64
 13  AveResGaming                            263750 non-null  float64
 14  action_num                              263750 non-null  int64
 15  skill                                   263750 non-null  object
 16  problemId                               263750 non-null  int64
 17  problemType                             263750 non-null  object
 18  assignmentId                            263750 non-null  int64
 19  assistmentId                            263750 non-null  int64
 20  startTime                               263750 non-null  int64
 21  endTime                                 263750 non-null  int64
 22  timeTaken                               263750 non-null  float64
 23  original                                263750 non-null  int64
 24  hint                                    263750 non-null  int64
 25  hintCount                               263750 non-null  int64
 26  hintTotal                               263750 non-null  int64
 27  scaffold                                263750 non-null  int64
 28  bottomHint                              263750 non-null  int64
 29  attemptCount                            263750 non-null  int64
 30  frIsHelpRequest                         263750 non-null  int64
 31  frPast5HelpRequest                      263750 non-null  int64
 32  frPast8HelpRequest                      263750 non-null  int64
 33  stlHintUsed                             263750 non-null  int64
 34  past8BottomOut                          263750 non-null  int64
 35  totalFrPercentPastWrong                 263750 non-null  float64
 36  totalFrPastWrongCount                   263750 non-null  int64
 37  frPast5WrongCount                       263750 non-null  int64
 38  frPast8WrongCount                       263750 non-null  int64
 39  totalFrTimeOnSkill                      263750 non-null  float64
 40  timeSinceSkill                          263750 non-null  float64
 41  frWorkingInSchool                       263750 non-null  int64
 42  totalFrAttempted                        263750 non-null  int64
 43  totalFrSkillOpportunities               263750 non-null  int64
 44  responseIsFillIn                        263750 non-null  int64
 45  responseIsChosen                        263750 non-null  int64
 46  endsWithScaffolding                     263750 non-null  int64
 47  endsWithAutoScaffolding                 263750 non-null  int64
 48  frTimeTakenOnScaffolding                263750 non-null  float64
 49  frTotalSkillOpportunitiesScaffolding    263750 non-null  int64
 50  totalFrSkillOpportunitiesByScaffolding  263750 non-null  float64
 51  frIsHelpRequestScaffolding              263750 non-null  int64
 52  timeGreater5Secprev2wrong               263750 non-null  int64
 53  sumRight                                263750 non-null  int64
 54  helpAccessUnder2Sec                     263750 non-null  int64
 55  timeGreater10SecAndNextActionRight      263750 non-null  int64
 56  consecutiveErrorsInRow                  263750 non-null  int64
 57  sumTime3SDWhen3RowRight                 263750 non-null  float64
 58  sumTimePerSkill                         263750 non-null  float64
 59  totalTimeByPercentCorrectForskill       263750 non-null  float64
 60  Prev5count                              263750 non-null  int64
 61  timeOver80                              263750 non-null  int64
 62  manywrong                               263750 non-null  int64
 63  confidence(BORED)                       263750 non-null  float64
 64  confidence(CONCENTRATING)               263750 non-null  float64
 65  confidence(CONFUSED)                    263750 non-null  float64
 66  confidence(FRUSTRATED)                  263750 non-null  float64
 67  confidence(OFF TASK)                    263750 non-null  float64
 68  confidence(GAMING)                      263750 non-null  float64
 69  RES_BORED                               263750 non-null  float64
 70  RES_CONCENTRATING                       263750 non-null  float64
 71  RES_CONFUSED                            263750 non-null  float64
 72  RES_FRUSTRATED                          263750 non-null  float64
 73  RES_OFFTASK                             263750 non-null  float64
 74  RES_GAMING                              263750 non-null  float64
 75  Ln-1                                    263750 non-null  object
 76  Ln                                      263750 non-null  object
 77  MCAS                                    263750 non-null  int64
 78  Enrolled                                263750 non-null  int64
 79  Selective                               263750 non-null  int64
 80  isSTEM                                  263750 non-null  float64
dtypes: float64(31), int64(44), object(6)
memory usage: 163.0+ MB

In [ ]:
from sklearn.preprocessing import OneHotEncoder
GenderData = X.iloc[:,2]
SYData = X.iloc[:,3]
skillData = X.iloc[:,15]
problemTypeData = X.iloc[:,17]
noOfencFeature=4

In [ ]:
Tobeenc = pd.concat([GenderData,pd.DataFrame(SYData)],axis=1)
Tobeenc = pd.concat([Tobeenc,pd.DataFrame(skillData)],axis=1)
Tobeenc = pd.concat([Tobeenc,pd.DataFrame(problemTypeData)],axis=1)
Tobeenc
Tobeenc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263750 entries, 0 to 263749
Data columns (total 4 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   InferredGender        263750 non-null  object
 1   SY ASSISTments Usage  263750 non-null  object
 2   skill                 263750 non-null  object
 3   problemType           263750 non-null  object
dtypes: object(4)
memory usage: 8.0+ MB

In [ ]:
enc = OneHotEncoder(categories='auto').fit(Tobeenc) #fit

In [ ]:
enc.transform(Tobeenc)
result = enc.transform(Tobeenc).toarray() #toarray
result

array([[1., 0., 1., ..., 0., 0., 1.],
       [1., 0., 1., ..., 0., 0., 1.],
       [1., 0., 1., ..., 0., 0., 1.],
       ...,
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.]])

In [ ]:
#onehot-feature names

enc.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

array(['x0_Female', 'x0_Male', 'x1_2004-2005', 'x1_2005-2006',
       'x2_adding-decimals', 'x2_addition', 'x2_algebra symbolization',
       'x2_algebraic-manipulation', 'x2_application: isosceles triangle',
       'x2_area', 'x2_area-concept', 'x2_area-of-circle',
       'x2_circle-graph', 'x2_circumference', 'x2_combinatorics',
       'x2_comparing-fractions', 'x2_congruence', 'x2_discount',
       'x2_divide-decimals', 'x2_divisibility', 'x2_division',
       'x2_equation-concept', 'x2_equation-solving',
       'x2_equivalent-fractions-decimals-percents',
       'x2_evaluating-functions', 'x2_exponents', 'x2_finding-percents',
       'x2_fraction-decimals-percents', 'x2_fraction-division',
       'x2_fraction-multiplication', 'x2_fractions', 'x2_g-geometry',
       'x2_graph interpretation', 'x2_graph-shape',
       'x2_inducing-functions', 'x2_inequalities',
       'x2_inequality-solving', 'x2_integers',
       'x2_interpreting-linear-equations', 'x2_interpreting-numberline',
       'x2_isosceles-triangle', 'x2_least-common-multiple',
       'x2_linear-area-volume-conversion', 'x2_m-measurement',
       'x2_making-sense-of-expressions-and-equations', 'x2_mean',
       'x2_meaning-of-pi', 'x2_measurement', 'x2_median', 'x2_mode',
       'x2_multiplication', 'x2_multiplying-decimals',
       'x2_multiplying-positive-negative-numbers',
       'x2_n-number-sense-operations', 'x2_noskill', 'x2_number-line',
       'x2_of-means-multiply', 'x2_order-of-operations',
       'x2_ordering-numbers', 'x2_p-patterns-relations-algebra',
       'x2_pattern-finding', 'x2_percent-of', 'x2_percents',
       'x2_perimeter', 'x2_point-plotting', 'x2_prime-number',
       'x2_probability', 'x2_properties-of-geometric-figures',
       'x2_properties-of-solids', 'x2_proportion',
       'x2_pythagorean-theorem', 'x2_rate',
       'x2_rate-with-distance-and-time', 'x2_reading-graph',
       'x2_reciprocal', 'x2_reduce-fraction', 'x2_rounding',
       'x2_scientific-notation', 'x2_similar-triangles',
       'x2_simple-calculation', 'x2_slope', 'x2_square-root',
       'x2_statistics', 'x2_stem-and-leaf-plot', 'x2_substitution',
       'x2_subtracting-decimals', 'x2_subtraction',
       'x2_sum-of-interior-angles-more-than-3-sides',
       'x2_sum-of-interior-angles-triangle', 'x2_supplementary-angles',
       'x2_surface-area-and-volume', 'x2_symbolization-articulation',
       'x2_transformations-rotations', 'x2_transversals',
       'x2_triangle-inequality', 'x2_unit-conversion', 'x2_venn-diagram',
       'x3_0', 'x3_1', 'x3_algebra', 'x3_algebrafieldquestion',
       'x3_algebrafieldquestion1', 'x3_checkboxquestion',
       'x3_interfacepopupmenuquestion1', 'x3_interfaceradioquestion',
       'x3_interfaceradioquestion1', 'x3_interfacetextfieldquestion',
       'x3_interfacetextfieldquestion1', 'x3_noprobtype', 'x3_other',
       'x3_popupmenuquestion', 'x3_radioquestion', 'x3_textfieldquestion'],
      dtype=object)

In [ ]:
featureNames = enc.get_feature_names_out()

In [ ]:
X_ = pd.concat([X,pd.DataFrame(result)],axis=1)
X_.head()

,studentId,MiddleSchoolId,InferredGender,SY ASSISTments Usage,AveKnow,AveCarelessness,AveCorrect,NumActions,AveResBored,AveResEngcon,...,103,104,105,106,107,108,109,110,111,112
0,35,2,Female,2004-2005,0.255164,0.158848,0.379658,993,0.222796,0.650079,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,35,2,Female,2004-2005,0.255164,0.158848,0.379658,993,0.222796,0.650079,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,35,2,Female,2004-2005,0.255164,0.158848,0.379658,993,0.222796,0.650079,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,35,2,Female,2004-2005,0.255164,0.158848,0.379658,993,0.222796,0.650079,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,35,2,Female,2004-2005,0.255164,0.158848,0.379658,993,0.222796,0.650079,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
X_.drop(["InferredGender","SY ASSISTments Usage","skill","problemType"],axis=1,inplace=True) #axis=1代表删除列，inplace=True代表覆盖原数据

In [ ]:
X_.head()

,studentId,MiddleSchoolId,AveKnow,AveCarelessness,AveCorrect,NumActions,AveResBored,AveResEngcon,AveResConf,AveResFrust,...,103,104,105,106,107,108,109,110,111,112
0,35,2,0.255164,0.158848,0.379658,993,0.222796,0.650079,0.069987,0.164347,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,35,2,0.255164,0.158848,0.379658,993,0.222796,0.650079,0.069987,0.164347,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,35,2,0.255164,0.158848,0.379658,993,0.222796,0.650079,0.069987,0.164347,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,35,2,0.255164,0.158848,0.379658,993,0.222796,0.650079,0.069987,0.164347,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,35,2,0.255164,0.158848,0.379658,993,0.222796,0.650079,0.069987,0.164347,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
print(X_.columns)

Index([      'studentId',  'MiddleSchoolId',         'AveKnow',
       'AveCarelessness',      'AveCorrect',      'NumActions',
           'AveResBored',    'AveResEngcon',      'AveResConf',
           'AveResFrust',
       ...
                     103,               104,               105,
                     106,               107,               108,
                     109,               110,               111,
                     112],
      dtype='object', length=190)

In [ ]:
X.shape #(263750, 81)
noOfencFeature #4
X_.shape #(263750, 190)
X_.shape[1] #190
featureNames.shape[0] #113
X_.columns[76] #isSTEM

'isSTEM'

In [ ]:
# X.shape[1]-noOfencFeature #77
i=0
j=0
while i < featureNames.shape[0]:
  X_.rename(columns={i:featureNames[j]},inplace=True)
  i+=1
  j+=1
j

113

In [ ]:
X_

,studentId,MiddleSchoolId,AveKnow,AveCarelessness,AveCorrect,NumActions,AveResBored,AveResEngcon,AveResConf,AveResFrust,...,problemType_interfacepopupmenuquestion1,problemType_interfaceradioquestion,problemType_interfaceradioquestion1,problemType_interfacetextfieldquestion,problemType_interfacetextfieldquestion1,problemType_noprobtype,problemType_other,problemType_popupmenuquestion,problemType_radioquestion,problemType_textfieldquestion
0,35,2,0.255164,0.158848,0.379658,993,0.222796,0.650079,0.069987,0.164347,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,35,2,0.255164,0.158848,0.379658,993,0.222796,0.650079,0.069987,0.164347,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,35,2,0.255164,0.158848,0.379658,993,0.222796,0.650079,0.069987,0.164347,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,35,2,0.255164,0.158848,0.379658,993,0.222796,0.650079,0.069987,0.164347,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,35,2,0.255164,0.158848,0.379658,993,0.222796,0.650079,0.069987,0.164347,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263745,7775,1,0.100027,0.079966,0.275472,795,0.257509,0.629568,0.172272,0.114189,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
263746,7775,1,0.100027,0.079966,0.275472,795,0.257509,0.629568,0.172272,0.114189,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
263747,7775,1,0.100027,0.079966,0.275472,795,0.257509,0.629568,0.172272,0.114189,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
263748,7775,1,0.100027,0.079966,0.275472,795,0.257509,0.629568,0.172272,0.114189,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
263749,7775,1,0.100027,0.079966,0.275472,795,0.257509,0.629568,0.172272,0.114189,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#mutual information 
from sklearn.feature_selection import mutual_info_classif as MIC
result = MIC(X_,y)
result

array([2.87369025e-02, 1.60986878e-02, 3.06682132e-02, 3.07560613e-02,
       2.95901947e-02, 2.53398861e-02, 2.95429397e-02, 2.92960938e-02,
       3.01231796e-02, 3.06333462e-02, 2.95383754e-02, 3.04961975e-02,
       2.50988954e-01, 4.83749326e-01, 5.35769896e-02, 3.80815305e-01,
       1.22352907e-01, 1.19648900e-01, 7.24096768e-02, 6.03926460e-01,
       2.82003473e-02, 7.27466859e-02, 1.08626687e-01, 1.89850011e-01,
       1.16157898e-02, 6.95709675e-02, 4.26633028e-02, 6.55644882e-02,
       5.78727691e-02, 4.79334958e-04, 8.65128666e-03, 3.25168726e-02,
       1.50007508e-02, 3.00759396e-02, 2.60461759e-02, 5.78673467e-02,
       1.18001580e-01, 3.75659060e-02, 8.58683080e-03, 6.36285213e-02,
       1.98558048e-03, 0.00000000e+00, 3.95522019e-01, 1.96296379e-03,
       5.70503410e-01, 4.46777057e-01, 3.02237808e-01, 4.55010316e-01,
       0.00000000e+00, 6.00764435e-03, 1.09611791e-02, 1.38930456e-02,
       6.83186684e-04, 4.64706168e-02, 9.29479916e-03, 3.75460940e-02,
       4.26767151e-02, 2.34480722e-02, 7.21264464e-02, 2.93419477e-02,
       5.39274035e-01, 1.86321545e-02, 7.13870469e-02, 4.82230737e-02,
       4.28268317e-01, 2.48686813e-02, 5.39274850e-01, 1.74396309e-02,
       7.08804138e-02, 4.52794838e-02, 4.27234384e-01, 2.39884585e-01,
       2.48675824e-01, 1.30217359e-02, 1.91613080e-02, 1.19880426e-02,
       2.34619258e-03, 1.08103333e-02, 9.38020858e-03, 1.38799654e-02,
       6.75279695e-03, 5.35792399e-06, 0.00000000e+00, 2.09438833e-03,
       0.00000000e+00, 0.00000000e+00, 8.16925066e-05, 0.00000000e+00,
       0.00000000e+00, 8.12760800e-04, 2.02398290e-04, 7.37600415e-04,
       0.00000000e+00, 0.00000000e+00, 1.13531413e-03, 2.16494906e-04,
       0.00000000e+00, 1.22467457e-03, 3.69183184e-04, 0.00000000e+00,
       1.25135050e-03, 6.12648831e-05, 1.90305946e-03, 7.92161405e-04,
       0.00000000e+00, 0.00000000e+00, 1.30546799e-03, 0.00000000e+00,
       0.00000000e+00, 1.42858831e-03, 0.00000000e+00, 0.00000000e+00,
       1.78587475e-03, 7.15160391e-04, 0.00000000e+00, 1.04428752e-03,
       0.00000000e+00, 0.00000000e+00, 1.66097839e-03, 6.76199144e-04,
       4.25397039e-04, 2.40235042e-04, 2.52116634e-03, 2.79786585e-03,
       2.14105902e-04, 0.00000000e+00, 0.00000000e+00, 1.89975264e-03,
       7.04809094e-05, 1.06485676e-03, 1.91954140e-03, 2.01977313e-03,
       1.38155541e-04, 0.00000000e+00, 3.03483003e-04, 0.00000000e+00,
       7.84752061e-04, 3.62327674e-03, 0.00000000e+00, 5.98179728e-04,
       3.15706340e-03, 1.04395189e-03, 0.00000000e+00, 1.07474418e-03,
       1.32706957e-04, 2.86961912e-04, 0.00000000e+00, 7.13424941e-04,
       3.81502259e-04, 1.76768161e-03, 9.47882843e-04, 1.17122415e-03,
       0.00000000e+00, 0.00000000e+00, 9.48925113e-04, 1.04422027e-03,
       0.00000000e+00, 2.75748052e-05, 8.38178311e-04, 2.01096135e-03,
       7.28438003e-04, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 3.16999428e-04, 5.18525805e-04, 0.00000000e+00,
       7.35025347e-04, 0.00000000e+00, 3.39750387e-04, 8.83312200e-04,
       7.36349362e-04, 1.04331055e-03, 0.00000000e+00, 6.13161826e-03,
       2.09942946e-03, 1.02874328e-02, 3.13047988e-03, 2.22209560e-03,
       0.00000000e+00, 2.15436251e-03, 8.31046271e-03, 1.77244929e-03,
       7.02742489e-04, 5.57979121e-03, 2.71956307e-03, 6.58742059e-04,
       1.61382583e-02, 1.60390584e-02])

In [ ]:
sum(result)

8.883452637304476

In [ ]:
(result == 0).sum() #38 non-related features

38

In [ ]:
X_.columns

Index(['studentId', 'MiddleSchoolId', 'AveKnow', 'AveCarelessness',
       'AveCorrect', 'NumActions', 'AveResBored', 'AveResEngcon', 'AveResConf',
       'AveResFrust',
       ...
       'problemType_interfacepopupmenuquestion1',
       'problemType_interfaceradioquestion',
       'problemType_interfaceradioquestion1',
       'problemType_interfacetextfieldquestion',
       'problemType_interfacetextfieldquestion1', 'problemType_noprobtype',
       'problemType_other', 'problemType_popupmenuquestion',
       'problemType_radioquestion', 'problemType_textfieldquestion'],
      dtype='object', length=190)

In [ ]:
FeatureIndex = pd.DataFrame(X_.columns)
FeatureIndex

                                 0
0                        studentId
1                   MiddleSchoolId
2                          AveKnow
3                  AveCarelessness
4                       AveCorrect
..                             ...
185         problemType_noprobtype
186              problemType_other
187  problemType_popupmenuquestion
188      problemType_radioquestion
189  problemType_textfieldquestion

[190 rows x 1 columns]

In [ ]:
weightTable = pd.concat([FeatureIndex,pd.DataFrame(result)],axis=1)
weightTable.columns =["Feature","MutualInformation"]
weightTable

                           Feature  MutualInformation
0                        studentId           0.028737
1                   MiddleSchoolId           0.016099
2                          AveKnow           0.030668
3                  AveCarelessness           0.030756
4                       AveCorrect           0.029590
..                             ...                ...
185         problemType_noprobtype           0.005580
186              problemType_other           0.002720
187  problemType_popupmenuquestion           0.000659
188      problemType_radioquestion           0.016138
189  problemType_textfieldquestion           0.016039

[190 rows x 2 columns]

In [ ]:
weightTable_ = weightTable.sort_values(by="MutualInformation")
weightTable_

                              Feature  MutualInformation
104  skill_fraction-decimals-percents           0.000000
167     skill_surface-area-and-volume           0.000000
48          timeGreater5Secprev2wrong           0.000000
99             skill_equation-solving           0.000000
111          skill_inducing-functions           0.000000
..                                ...                ...
13                          problemId           0.483749
60          confidence(CONCENTRATING)           0.539274
66                  RES_CONCENTRATING           0.539275
44           frTimeTakenOnScaffolding           0.570503
19                           original           0.603926

[190 rows x 2 columns]