<a href="https://colab.research.google.com/github/CrrazyPeach/GitColab/blob/main/ML/feature_onehot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = pd.read_csv(r"/content/drive/MyDrive/Report/anonymized_full_release_competition_dataset.csv",low_memory=False) 
#auto-generate index
#warning: Ln and Ln-1 have mixed dtype('0')
data.head()

,studentId,MiddleSchoolId,InferredGender,SY ASSISTments Usage,AveKnow,AveCarelessness,AveCorrect,NumActions,AveResBored,AveResEngcon,...,RES_CONFUSED,RES_FRUSTRATED,RES_OFFTASK,RES_GAMING,Ln-1,Ln,MCAS,Enrolled,Selective,isSTEM
0,8,2,Male,2004-2005,0.352416,0.183276,0.483902,1056,0.208389,0.679126,...,0.000000,0.0,0.785585,0.000264,0.13,0.061190409,45,0,0,NaN
1,8,2,Male,2004-2005,0.352416,0.183276,0.483902,1056,0.208389,0.679126,...,0.887452,0.0,0.468252,0.001483,0.061190409,0.213509945,45,0,0,NaN
2,8,2,Male,2004-2005,0.352416,0.183276,0.483902,1056,0.208389,0.679126,...,0.887452,0.0,0.468252,0.001483,0.116,0.033305768,45,0,0,NaN
3,8,2,Male,2004-2005,0.352416,0.183276,0.483902,1056,0.208389,0.679126,...,0.000000,0.0,0.108417,0.010665,0.116,0.033305768,45,0,0,NaN
4,8,2,Male,2004-2005,0.352416,0.183276,0.483902,1056,0.208389,0.679126,...,0.000000,0.0,0.108417,0.010665,0.033305768,0.118385889,45,0,0,NaN

In [ ]:
data.info()
# features have empty values are:
# 2 InferredGender  769160 non-null (delete empty records)
# 58 sumTime3SDWhen3RowRight  942731 non-null (delete empty records)
# 81 isSTEM  316974 non-null (delete this unclearly defined feature 
#    having many empty values as well as not important - 0.002 mutual information in test)
data=data.drop('isSTEM',axis=1) #delete feature isSTEM

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 942816 entries, 0 to 942815
Data columns (total 82 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   studentId                               942816 non-null  int64
 1   MiddleSchoolId                          942816 non-null  int64
 2   InferredGender                          769160 non-null  object
 3   SY ASSISTments Usage                    942816 non-null  object
 4   AveKnow                                 942816 non-null  float64
 5   AveCarelessness                         942816 non-null  float64
 6   AveCorrect                              942816 non-null  float64
 7   NumActions                              942816 non-null  int64
 8   AveResBored                             942816 non-null  float64
 9   AveResEngcon                            942816 non-null  float64
 10  AveResConf                              942816 non-null  float64
 11  AveResFrust                             942816 non-null  float64
 12  AveResOfftask                           942816 non-null  float64
 13  AveResGaming                            942816 non-null  float64
 14  action_num                              942816 non-null  int64
 15  skill                                   942816 non-null  object
 16  problemId                               942816 non-null  int64
 17  problemType                             942816 non-null  object
 18  assignmentId                            942816 non-null  int64
 19  assistmentId                            942816 non-null  int64
 20  startTime                               942816 non-null  int64
 21  endTime                                 942816 non-null  int64
 22  timeTaken                               942816 non-null  float64
 23  correct                                 942816 non-null  int64
 24  original                                942816 non-null  int64
 25  hint                                    942816 non-null  int64
 26  hintCount                               942816 non-null  int64
 27  hintTotal                               942816 non-null  int64
 28  scaffold                                942816 non-null  int64
 29  bottomHint                              942816 non-null  int64
 30  attemptCount                            942816 non-null  int64
 31  frIsHelpRequest                         942816 non-null  int64
 32  frPast5HelpRequest                      942816 non-null  int64
 33  frPast8HelpRequest                      942816 non-null  int64
 34  stlHintUsed                             942816 non-null  int64
 35  past8BottomOut                          942816 non-null  int64
 36  totalFrPercentPastWrong                 942816 non-null  float64
 37  totalFrPastWrongCount                   942816 non-null  int64
 38  frPast5WrongCount                       942816 non-null  int64
 39  frPast8WrongCount                       942816 non-null  int64
 40  totalFrTimeOnSkill                      942816 non-null  float64
 41  timeSinceSkill                          942816 non-null  float64
 42  frWorkingInSchool                       942816 non-null  int64
 43  totalFrAttempted                        942816 non-null  int64
 44  totalFrSkillOpportunities               942816 non-null  int64
 45  responseIsFillIn                        942816 non-null  int64
 46  responseIsChosen                        942816 non-null  int64
 47  endsWithScaffolding                     942816 non-null  int64
 48  endsWithAutoScaffolding                 942816 non-null  int64
 49  frTimeTakenOnScaffolding                942816 non-null  float64
 50  frTotalSkillOpportunitiesScaffolding    942816 non-null  int64
 51  totalFrSkillOpportunitiesByScaffolding  942816 non-null  float64
 52  frIsHelpRequestScaffolding              942816 non-null  int64
 53  timeGreater5Secprev2wrong               942816 non-null  int64
 54  sumRight                                942816 non-null  int64
 55  helpAccessUnder2Sec                     942816 non-null  int64
 56  timeGreater10SecAndNextActionRight      942816 non-null  int64
 57  consecutiveErrorsInRow                  942816 non-null  int64
 58  sumTime3SDWhen3RowRight                 942731 non-null  float64
 59  sumTimePerSkill                         942816 non-null  float64
 60  totalTimeByPercentCorrectForskill       942816 non-null  float64
 61  Prev5count                              942816 non-null  int64
 62  timeOver80                              942816 non-null  int64
 63  manywrong                               942816 non-null  int64
 64  confidence(BORED)                       942816 non-null  float64
 65  confidence(CONCENTRATING)               942816 non-null  float64
 66  confidence(CONFUSED)                    942816 non-null  float64
 67  confidence(FRUSTRATED)                  942816 non-null  float64
 68  confidence(OFF TASK)                    942816 non-null  float64
 69  confidence(GAMING)                      942816 non-null  float64
 70  RES_BORED                               942816 non-null  float64
 71  RES_CONCENTRATING                       942816 non-null  float64
 72  RES_CONFUSED                            942816 non-null  float64
 73  RES_FRUSTRATED                          942816 non-null  float64
 74  RES_OFFTASK                             942816 non-null  float64
 75  RES_GAMING                              942816 non-null  float64
 76  Ln-1                                    942816 non-null  object
 77  Ln                                      942816 non-null  object
 78  MCAS                                    942816 non-null  int64
 79  Enrolled                                942816 non-null  int64
 80  Selective                               942816 non-null  int64
 81  isSTEM                                  316974 non-null  float64
dtypes: float64(31), int64(45), object(6)
memory usage: 589.8+ MB

In [ ]:
######Step 1: Transform Ln and Ln-1 from mixed values to floats

In [ ]:
import numpy as np

#show invalid records when performing str to float
i=0
arr = []
while i<data.shape[0]:
  try:
    float(data['Ln'][i])
    float(data['Ln-1'][i])
  except:
    arr.append(i)
    print(i,'False',data['Ln'][i])
  i=i+1

245078 False .
259371 False .
259372 False .
307392 False .
386368 False .
386369 False .
386370 False .
386371 False .
508746 False .

In [ ]:
#assign value '0' to replace '.'
for number in arr:
  data['Ln'][number] = '0'
  data['Ln-1'][number] = '0' 

#transform to floats
data['Ln'] = data['Ln'].astype(float)
data['Ln-1'] = data['Ln'].astype(float)
data.info()

In [ ]:
#####Step 2: Tackle records with empty values

In [ ]:
#delete all rows have empty values
data.dropna(axis=0,inplace=True)

In [ ]:
data.info()
data=data.reset_index(drop=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 769102 entries, 0 to 942212
Data columns (total 81 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   studentId                               769102 non-null  int64
 1   MiddleSchoolId                          769102 non-null  int64
 2   InferredGender                          769102 non-null  object
 3   SY ASSISTments Usage                    769102 non-null  object
 4   AveKnow                                 769102 non-null  float64
 5   AveCarelessness                         769102 non-null  float64
 6   AveCorrect                              769102 non-null  float64
 7   NumActions                              769102 non-null  int64
 8   AveResBored                             769102 non-null  float64
 9   AveResEngcon                            769102 non-null  float64
 10  AveResConf                              769102 non-null  float64
 11  AveResFrust                             769102 non-null  float64
 12  AveResOfftask                           769102 non-null  float64
 13  AveResGaming                            769102 non-null  float64
 14  action_num                              769102 non-null  int64
 15  skill                                   769102 non-null  object
 16  problemId                               769102 non-null  int64
 17  problemType                             769102 non-null  object
 18  assignmentId                            769102 non-null  int64
 19  assistmentId                            769102 non-null  int64
 20  startTime                               769102 non-null  int64
 21  endTime                                 769102 non-null  int64
 22  timeTaken                               769102 non-null  float64
 23  correct                                 769102 non-null  int64
 24  original                                769102 non-null  int64
 25  hint                                    769102 non-null  int64
 26  hintCount                               769102 non-null  int64
 27  hintTotal                               769102 non-null  int64
 28  scaffold                                769102 non-null  int64
 29  bottomHint                              769102 non-null  int64
 30  attemptCount                            769102 non-null  int64
 31  frIsHelpRequest                         769102 non-null  int64
 32  frPast5HelpRequest                      769102 non-null  int64
 33  frPast8HelpRequest                      769102 non-null  int64
 34  stlHintUsed                             769102 non-null  int64
 35  past8BottomOut                          769102 non-null  int64
 36  totalFrPercentPastWrong                 769102 non-null  float64
 37  totalFrPastWrongCount                   769102 non-null  int64
 38  frPast5WrongCount                       769102 non-null  int64
 39  frPast8WrongCount                       769102 non-null  int64
 40  totalFrTimeOnSkill                      769102 non-null  float64
 41  timeSinceSkill                          769102 non-null  float64
 42  frWorkingInSchool                       769102 non-null  int64
 43  totalFrAttempted                        769102 non-null  int64
 44  totalFrSkillOpportunities               769102 non-null  int64
 45  responseIsFillIn                        769102 non-null  int64
 46  responseIsChosen                        769102 non-null  int64
 47  endsWithScaffolding                     769102 non-null  int64
 48  endsWithAutoScaffolding                 769102 non-null  int64
 49  frTimeTakenOnScaffolding                769102 non-null  float64
 50  frTotalSkillOpportunitiesScaffolding    769102 non-null  int64
 51  totalFrSkillOpportunitiesByScaffolding  769102 non-null  float64
 52  frIsHelpRequestScaffolding              769102 non-null  int64
 53  timeGreater5Secprev2wrong               769102 non-null  int64
 54  sumRight                                769102 non-null  int64
 55  helpAccessUnder2Sec                     769102 non-null  int64
 56  timeGreater10SecAndNextActionRight      769102 non-null  int64
 57  consecutiveErrorsInRow                  769102 non-null  int64
 58  sumTime3SDWhen3RowRight                 769102 non-null  float64
 59  sumTimePerSkill                         769102 non-null  float64
 60  totalTimeByPercentCorrectForskill       769102 non-null  float64
 61  Prev5count                              769102 non-null  int64
 62  timeOver80                              769102 non-null  int64
 63  manywrong                               769102 non-null  int64
 64  confidence(BORED)                       769102 non-null  float64
 65  confidence(CONCENTRATING)               769102 non-null  float64
 66  confidence(CONFUSED)                    769102 non-null  float64
 67  confidence(FRUSTRATED)                  769102 non-null  float64
 68  confidence(OFF TASK)                    769102 non-null  float64
 69  confidence(GAMING)                      769102 non-null  float64
 70  RES_BORED                               769102 non-null  float64
 71  RES_CONCENTRATING                       769102 non-null  float64
 72  RES_CONFUSED                            769102 non-null  float64
 73  RES_FRUSTRATED                          769102 non-null  float64
 74  RES_OFFTASK                             769102 non-null  float64
 75  RES_GAMING                              769102 non-null  float64
 76  Ln-1                                    769102 non-null  float64
 77  Ln                                      769102 non-null  float64
 78  MCAS                                    769102 non-null  int64
 79  Enrolled                                769102 non-null  int64
 80  Selective                               769102 non-null  int64
dtypes: float64(32), int64(45), object(4)
memory usage: 481.2+ MB

In [ ]:
#####Step 3: One-hot decoder shall be introduced to Nominal Variables

In [ ]:
#Nominal Variables are:
#2  InferredGender
#3  SY ASSISTments Usage4
#15  skill
#17  problemType

In [ ]:
#extract features to be processed
from sklearn.preprocessing import OneHotEncoder
GenderData = data.iloc[:,2]
SYData = data.iloc[:,3]
skillData = data.iloc[:,15]
problemTypeData = data.iloc[:,17]
noOfencFeature=4

#make sure the proportion of bivalent variable is reasonable after record deletion
(GenderData == 'Male').sum() #407637
(GenderData == 'Female').sum() #361523

#join the features
Tobeenc = pd.concat([GenderData,pd.DataFrame(SYData)],axis=1)
Tobeenc = pd.concat([Tobeenc,pd.DataFrame(skillData)],axis=1)
Tobeenc = pd.concat([Tobeenc,pd.DataFrame(problemTypeData)],axis=1)
Tobeenc
Tobeenc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769102 entries, 0 to 769101
Data columns (total 4 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   InferredGender        769102 non-null  object
 1   SY ASSISTments Usage  769102 non-null  object
 2   skill                 769102 non-null  object
 3   problemType           769102 non-null  object
dtypes: object(4)
memory usage: 23.5+ MB

In [ ]:
#fit and transform data using one-hot encoder 
enc = OneHotEncoder(categories='auto').fit(Tobeenc) #fit\
enc.transform(Tobeenc)
result = enc.transform(Tobeenc).toarray() #toarray

#get onehot-feature names
featureNames = enc.get_feature_names_out()
featureNames

#join the result at the end of the original data
data = pd.concat([data,pd.DataFrame(result)],axis=1)

#drop former nominal features
data.drop(["InferredGender","SY ASSISTments Usage","skill","problemType"],axis=1,inplace=True)

data.head()

,studentId,MiddleSchoolId,AveKnow,AveCarelessness,AveCorrect,NumActions,AveResBored,AveResEngcon,AveResConf,AveResFrust,...,111,112,113,114,115,116,117,118,119,120
0,8,2,0.352416,0.183276,0.483902,1056,0.208389,0.679126,0.115905,0.112408,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,8,2,0.352416,0.183276,0.483902,1056,0.208389,0.679126,0.115905,0.112408,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,8,2,0.352416,0.183276,0.483902,1056,0.208389,0.679126,0.115905,0.112408,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,8,2,0.352416,0.183276,0.483902,1056,0.208389,0.679126,0.115905,0.112408,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,8,2,0.352416,0.183276,0.483902,1056,0.208389,0.679126,0.115905,0.112408,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [ ]:
# featureNames.shape[0] #121 0-120
# data.columns[77] #0

#rename the one-hot encoded features
i=0
while i < featureNames.shape[0]:
  data.rename(columns={i:featureNames[i]},inplace=True)
  i+=1

data.head()

,studentId,MiddleSchoolId,AveKnow,AveCarelessness,AveCorrect,NumActions,AveResBored,AveResEngcon,AveResConf,AveResFrust,...,problemType_interfacepopupmenuquestion1,problemType_interfaceradioquestion,problemType_interfaceradioquestion1,problemType_interfacetextfieldquestion,problemType_interfacetextfieldquestion1,problemType_noprobtype,problemType_other,problemType_popupmenuquestion,problemType_radioquestion,problemType_textfieldquestion
0,8,2,0.352416,0.183276,0.483902,1056,0.208389,0.679126,0.115905,0.112408,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,8,2,0.352416,0.183276,0.483902,1056,0.208389,0.679126,0.115905,0.112408,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,8,2,0.352416,0.183276,0.483902,1056,0.208389,0.679126,0.115905,0.112408,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,8,2,0.352416,0.183276,0.483902,1056,0.208389,0.679126,0.115905,0.112408,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,8,2,0.352416,0.183276,0.483902,1056,0.208389,0.679126,0.115905,0.112408,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [ ]:
#####Step 4: generate X,y and analyse with Mutual Information

In [ ]:
#randomly take 300000 records
data_=data.sample(n=300000,random_state=2)
X=data_.drop(["correct"],axis=1,inplace=False)
y=data_.iloc[:,19]